<section class="main-menu">
    <h2 class="main-menu__title">Математика<br>для Вики</h2>

    <div class="main-menu__buttons">
        <button class="main-menu__buttons-btn start">Начать</button>
        <button class="main-menu__buttons-btn">Статистика</button>
        <button class="main-menu__buttons-btn">Закрыть</button>
        <div class="main-menu__buttons-downbar">
            {{!-- <button class="main-menu__buttons-downbar-btn">⚙️</button>
            <button class="main-menu__buttons-downbar-btn">🗞️</button>
            <button class="main-menu__buttons-downbar-btn">🎶</button> --}}
        </div>
    </div>

    <p class="main-menu__author">Разработано <strong><a href="https://t.me/i_rubinium">@i_rubinium</a></strong> персонально<br>для <i>Виктории Е.</i></p>
</section>